:root {
    --primary-color: #0179c0;
    --text-color: #0179c0;
    --delete-button-background: #FF0000;
    --checkbox-checked-background: #0179c0;
    --checkbox-border-color: #000;
    --checkbox-text-color: #fff;
    --default-border-color: #000;
    --error-color: #FF0000;
}

* {
    font-size: 10px;
    line-height: 10px;
    font-family: "Inter",sans-serif;
}

.container {
    margin: 1vh 20vw;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.tasks__wrapper {
    margin: 0 0 2vh;
}

.tasks__wrapper span {
    color: var(--text-color);
    margin: 0 0 25px;
    text-decoration: none;
    font-size: 3rem;
    line-height: 5rem;
}

.sort span {
    color: var(--text-color);
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2vh 0;
}

.main-navigation_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-navigation_menu-button {
    display: flex;
    flex-wrap: wrap;
}

.main-navigation__button-item {
    position: relative;
    color: var(--text-color);
    padding: 25px;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2rem;
}

#main-navigation__button-name {
    color: var(--text-color);
    padding: 25px;
    text-decoration: none;
    font-size: 3rem;
    line-height: 2em;
}

.main-navigation__button-item_selected {
    box-shadow: inset 0 0 0 2px #B0E0E6;
    border-radius: 4px;

}

.create-task-block {
    display: grid;
    grid-template-columns: [full-start] 3fr [content-start] 1fr [content-end] 1fr [full-end];
    column-gap: 10px;
    row-gap: 5px;
}

.create-task-block__input {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    opacity: 0.3;
}

.create-task-block__button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;

}
.task-item__delete-button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#createNewTask {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#selectedContractor {
    grid-column-start: 2;
    grid-row-start: 1;

}

#createDeadline {
    grid-column-start: 2;
    grid-row-start: 2;
}

.task-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-bottom: 1px solid var(--primary-color);
    padding: 10px 0;
    list-style-type: none;
}

.task-item__main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.task-item__main-content {
    display: flex;
    align-items: center;
}

.task-item__delete-button {
    transition: 0.2s ease;
}

.task-item__delete-button:hover {
    background-color: var(--delete-button-background);
}

.task-item__main-content_info {
    color: var(--text-color);
    display: grid;
    grid-template-columns: [full-start] 3fr [content-start] 1fr [content-end] ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1vw;
    align-items: center;
}

.task-item__text { 
    font-size: 2rem;
    line-height: 2.5rem;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: center;
}

.task-item__name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
}

.task-item__data {
    font-size: 1.5rem;
    line-height: 1.5rem;
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: center;
    justify-content: stretch;
}


.checkbox-form__checkbox + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
}
  
.checkbox-form__checkbox  {
    display: none;
}
  
.checkbox-form__checkbox + label:before {
    content: "\2714";
    border: 0.1em solid var(--checkbox-border-color);
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}

.checkbox-form__checkbox + label:active:before {
    transform: scale(0);
}

.checkbox-form__checkbox:checked + label:before {
    background-color: var(--checkbox-checked-background);
    border-color: var(--checkbox-checked-background);
    color: var(--checkbox-text-color);
}

.checkbox-form__checkbox:disabled + label:before {
    transform: scale(1);
}

.checkbox-form__checkbox:checked:disabled + label:before {
    transform: scale(1);
    background-color: var(--checkbox-checked-background);
    border-color: var(--checkbox-checked-background);
}

.tooltip {
    position: absolute;
    left: -50%;
    bottom: calc(100% + 5px);
    margin: auto 0;

    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2rem;
    width: 200px;
    border: 2px solid var(--default-border-color);
}

.error-message-block {
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--error-color);
}

#sortName {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
}

#sortName {
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.sortName_btn {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}